<h1>Edit Workout</h1>

<%= form_for @workout do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <%= f.submit "Submit Workout Edits" %>
<% end %>
