<h2><%= @workout.title %></h2>
<p>
  Description:
</p>
<p>
  <%= @workout.description %>
</p>

<% @workout.sessions.each do |session| %>
  <%= session.notes %>
  <%= link_to session.created_at, session %>
<% end %>
<%= link_to "New Session", new_session_path(:workout_id => @workout.id) %>


<%= link_to "Edit #{@workout.title}", edit_workout_path(@workout) %>
<%= link_to "Delete Workout", workout_path(@workout), method: :delete, data: {confirm: 'Confirm you want to delete this workout'} %>

<%= link_to "Back to all workouts", workouts_path %><br />
