<h1>New Session of <%= @workout.title %></h1>

<%= form_for @session do |f| %>
<%= f.hidden_field :workout_id, :value => @workout.id %>

  <div >
      <%= f.label :sets %>
      <%= f.text_field :sets %>
  </div>
  <div >
      <%= f.label :reps %>
      <%= f.text_field :reps %>
  </div>
  <div >
      <%= f.label :weight %>
      <%= f.text_field :weight %>
  </div>
  <div >
      <%= f.label :notes %>
      <%= f.text_area :notes %>
  </div>
<%= f.submit "Save session" %>
<% end %>
