<h2><%= @session.workout.title %></h2>
<h4><%= @session.created_at.to_formatted_s(:short)%></h4>
<%= @session.sets %> X <%=@session.reps %> </br>
<%= @session.weight%> lbs.
<p>
  <%= @session.notes %>
</p>
<div class="button">
  <%= link_to "Edit this session", edit_session_path(@session) %>

</div>
<div class="button">
  <%= link_to "Delete Session", session_path(@session), method: :delete, data: {confirm: 'Confirm you want to delete this sesssion'} %>

</div>
<div class="button">
  <%= link_to "Back to workouts", workouts_path %>

</div>
