<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body class="container">
    <nav>
      <% if session[:user] %>
      <a href="/sign_out"><%= session[:user]["username"] %>: sign out</a></h2>
      <!-- <a href="/workouts">Workouts</a> -->
      <% else %>
      <a href="/sign_in">Sign in</a>
      <a href="/sign_up">Sign up</a>
      <% end %>
    </nav>
    <br>
    <%= flash[:notice] %>
    <%= yield %>
  </body>
</html>
